<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a class="nav_link" href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a class="nav_link" href="{{ base_path }}/blog/">Blog</a> 
        <a class="nav_link" href="{{ base_path }}/philosophy/">Philosophy</a>
        <a class="nav_link" href="{{ base_path }}/projects/">Projects</a>
        <a class="nav_link" href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
</section>
</footer>

</body>
</html>
